<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Balita</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <table class="table table-striped" id="tabel-balita">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Tanggal Lahir</th>
        <th>Jenis Kelamin</th>
        <th>Nama Ibu</th>
        <th>Alamat</th>
      </tr>
    </thead>
    <tbody>
      <% data.balita.forEach(e=> { %>
        <tr>
          <td>
            <%= e.nama %>
          </td>
          <td>
            <%= e.tanggal_lahir %>
          </td>
          <td>
            <%= e.jenis_kelamin %>
          </td>
          <td>
            <%= e.nama_ibu %>
          </td>
          <td>
            <%= e.alamat %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>

  <script>
    window.print()
  </script>
</body>
</html>