<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Checkup</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tanggal</th>
          <th>Nama</th>
          <th>Jenis Kelamin</th>
          <th>Berat Badan</th>
          <th>Tinggi Badan</th>
          <th>Umur</th>
          <th>Status Kesehatan</th>
        </tr>
      </thead>
      <tbody>
        <% data.checkup.forEach(function(e,index){ %>
          <tr>
            <td>
              <%= e.createdAt.toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }) %>
            </td>
            <td>
              <%= e.master_balitum.nama %>
            </td>
            <td>
              <%= e.jk==1 ? 'Laki-laki' : 'Perempuan' %>
            </td>
            <td>
              <%= e.bb %> kg
            </td>
            <td>
              <%= e.tb %> cm
            </td>
            <td>
              <%= e.age %> Bulan
            </td>
            <td>
              <% if (e.label==1) { %>
                <span class="badge bg-danger">
                  Stunting
                </span>
                <% } else { %>
                  <span class="badge bg-success">
                    Tidak Stunting
                  </span>
                  <% } %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

    <script>
      window.print()
    </script>
  </body>

</html>