<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Imunisasi</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nama Balita</th>
          <th>Nama Imunisasi</th>
          <th>Umur</th>
          <th>Berat Badan</th>
          <th>Tinggi Badan</th>
          <th>Status Cek Stunting</th>
        </tr>
      </thead>
      <tbody>
        <% data.imunisasi.forEach(e => { %>
          <tr>
            <td>
              <%= e.toddler.nama %>
            </td>
            <td>
              <%= e.nama_imunisasi %>
            </td>
            <td>
              <%= Math.floor(+e.umur / 12) %> tahun <%= +e.umur % 12 %> bulan
            </td>
            <td>
              <%= e.berat_badan %> kg
            </td>
            <td>
              <%= e.tinggi_badan %> cm
            </td>
            <td>
              <span class="badge <%= e.checkup ? 'bg-success' : 'bg-danger' %>">
                <%= e.checkup ? 'Sudah Cek Stunting' : 'Belum Cek Stunting' %>
              </span>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>

    <script>
      window.print()
    </script>
  </body>

</html>