<div class="page-content">
    <section class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body px-4 py-4-5">
                    <%  data.forEach(function(item, index){ %>
                    <form action="/dasbor/master/imunisasi/edit/<%= item.id %>" method="post"> 
                        <div class="form-group">
                        <label for="">Nama Acara</label>
                        <input required type="text" value="<%= item.nama_acara %>" name="nama_acara" placeholder="Masukan Nama Acara" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="">Tanggal</label>
                        <input required value="<%= item.tanggal %>"" name="tanggal" type="date" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="">Waktu Mulai</label>
                        <input value="<%= item.waktu_mulai %>" name="waktu_mulai" required type="time" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="">Waktu Berakhir</label>
                        <input value="<%= item.waktu_selesai %>" name="waktu_selesai" required type="time" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="">Deskripsi</label>
                        <textarea required name="deskripsi" placeholder="Deskripsi Acara" class="form-control" cols="30" rows="10"><%= item.deskripsi %></textarea>
                        </div>
                        <div class="form-group">
                        <label for="">Lokasi</label>
                        <textarea required name="lokasi" class="form-control" placeholder="Lokasi Acara" cols="30" rows="10"><%= item.lokasi %></textarea>
                        </div>
                        <div class="form-group">
                        <label for="">Pembuat Acara</label>
                        <input type="text" value="<%= item.pembuat_acara %>" name="pembuat_acara" placeholder="Masukan Pembuat Acara" class="form-control">
                        </div>
                        <div class="form-group">
                        <label for="">Status</label>
                        <select required name="status" id="" class="form-control">
                            <option value="">Plih Status</option>
                            <option <%= item.status == 'Pending' ? 'selected' : '' %> value="Pending">Pending</option>
                            <option <%= item.status == 'Aktif' ? 'selected' : '' %> value="Aktif">Aktif</option>
                            <option <%= item.status == 'Selesai' ? 'selected' : '' %> value="Selesai">Selesai</option>
                        </select>
                        </div>
                        <button class="btn btn-primary">update</button>
                    </form> 
                    <% }) %>
                </div>
            </div>
        </div>
    </section>
</div>