<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body px-4 py-4-5">
          <div class="d-flex justify-content-between align-items-center">
            <a href="/dasbor/master/imunisasi" class="btn btn-primary mb-4">
              <i class="bi bi-arrow-left"></i>
              Kembali
            </a>
            <div>
              <button type="button" class="btn btn-warning mb-4" data-bs-toggle="modal" data-bs-target="#checkupImunisasiModal">
                <i class="bi bi-shield-check"></i>
                Cek Stunting
              </button>
              <button type="button" class="btn btn-info mb-4" data-bs-toggle="modal" data-bs-target="#editImunisasiModal">
                <i class="bi bi-pencil-square"></i>
                Edit
              </button>
              <button type="button" class="btn btn-danger mb-4" data-bs-toggle="modal" data-bs-target="#deleteImunisasiModal">
                <i class="bi bi-trash"></i>
                Hapus
              </button>
            </div>
          </div>
          <!-- modal start -->
          <div class="modal fade" id="checkupImunisasiModal" tabindex="-1" aria-labelledby="checkupImunisasiModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="checkupImunisasiModalLabel">CEK STUNTING</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/dasbor/master/imunisasi/<%= data.imunisasi.uuid %>/checkup" method="POST">
                  <div class="modal-body">
                    <p>
                      Anda akan melakukan CEK STUNTING pada balita atas nama
                      <b><%= data.imunisasi.toddler.nama %></b>
                      dengan data sebagai berikut:
                    </p>
                    <table class="table table-striped">
                      <tr>
                        <td>Umur</td>
                        <th>
                          <%= Math.floor(+data.imunisasi.umur / 12) %> tahun <%= +data.imunisasi.umur % 12 %> bulan
                        </th>
                      </tr>
                      <tr>
                        <td>Berat Badan</td>
                        <th><%= data.imunisasi.berat_badan %> kg</th>
                      </tr>
                      <tr>
                        <td>Tinggi Badan</td>
                        <th><%= data.imunisasi.tinggi_badan %> cm</th>
                      </tr>
                    </table>
                    <p>Jika terdapat perubahan data, silakan edit datanya terlebih dahulu.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <button type="submit" class="btn btn-primary">Cek Stunting</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="modal fade" id="editImunisasiModal" tabindex="-1" aria-labelledby="editImunisasiModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
              <form action="<%= baseUrl %>/dasbor/master/imunisasi/<%= data.imunisasi.uuid %>/update" method="POST" class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="editImunisasiModalLabel">Edit Balita</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="toddlerId">Pilih balita</label>
                    <select class="form-select" name="toddlerId" id="toddlerId">
                    <option value="" hidden>-Pilih-</option>
                      <% data.balita.forEach(e => { %>
                        <option value="<%= e.id %>" <%= data.imunisasi.toddlerId == e.id ? 'selected' : '' %> ><%= e.nama %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="nama_imunisasi" class="form-label">Nama Imunisasi</label>
                    <select class="form-select" name="nama_imunisasi" id="nama_imunisasi">
                      <option value="" hidden>Pilih Imunisasi</option>
                      <option value="Hepatitis B" <%=data.imunisasi?.nama_imunisasi=='Hepatitis B' ? 'selected' : '' %>
                        >Hepatitis B</option>
                      <option value="BCG" <%=data.imunisasi?.nama_imunisasi=='BCG' ? 'selected' : '' %> >BCG</option>
                      <option value="DPT/DTP" <%=data.imunisasi?.nama_imunisasi=='DPT/DTP' ? 'selected' : '' %> >DPT/DTP
                      </option>
                      <option value="HiB" <%=data.imunisasi?.nama_imunisasi=='HiB' ? 'selected' : '' %> >HiB</option>
                      <option value="Polio" <%=data.imunisasi?.nama_imunisasi=='Polio' ? 'selected' : '' %> >Polio
                      </option>
                      <option value="Campak" <%=data.imunisasi?.nama_imunisasi=='Campak' ? 'selected' : '' %> >Campak
                      </option>
                      <option value="MMR" <%=data.imunisasi?.nama_imunisasi=='MMR' ? 'selected' : '' %> >MMR</option>
                      <option value="Rotavirus" <%=data.imunisasi?.nama_imunisasi=='Rotavirus' ? 'selected' : '' %>
                        >Rotavirus</option>
                      <option value="PCV (Pneumokokus)" <%=data.imunisasi?.nama_imunisasi=='PCV (Pneumokokus)'
                        ? 'selected' : '' %> >PCV (Pneumokokus)</option>
                      <option value="Influenza" <%=data.imunisasi?.nama_imunisasi=='Influenza' ? 'selected' : '' %>
                        >Influenza</option>
                      <option value="Japanese Ensefalitis" <%=data.imunisasi?.nama_imunisasi=='Japanese Ensefalitis'
                        ? 'selected' : '' %> >Japanese Ensefalitis</option>
                    </select>
                  </div>
                  <div class="row mb-3">
                    <div class="col-4">
                      <label class="form-label">Umur</label>
                      <div class="row">
                        <div class="col-6">
                          <select class="form-select" name="tahun" id="tahun">
                            <option value="" hidden>Tahun..</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 0 ? 'selected' : null %> value="0">0 Tahun</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 1 ? 'selected' : null %> value="1">1 Tahun</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 2 ? 'selected' : null %> value="2">2 Tahun</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 3 ? 'selected' : null %> value="3">3 Tahun</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 4 ? 'selected' : null %> value="4">4 Tahun</option>
                            <option <%= Math.floor(+data.imunisasi.umur / 12) == 5 ? 'selected' : null %> value="5">5 Tahun</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <select class="form-select" name="bulan" id="bulan">
                            <option value="" hidden>Bulan..</option>
                            <option <%= +data.imunisasi.umur % 12 == 0 ? 'selected' : null %> value="0">0 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 1 ? 'selected' : null %> value="1">1 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 2 ? 'selected' : null %> value="2">2 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 3 ? 'selected' : null %> value="3">3 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 4 ? 'selected' : null %> value="4">4 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 5 ? 'selected' : null %> value="5">5 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 6 ? 'selected' : null %> value="6">6 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 7 ? 'selected' : null %> value="7">7 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 8 ? 'selected' : null %> value="8">8 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 9 ? 'selected' : null %> value="9">9 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 10 ? 'selected' : null %> value="10">10 Bulan</option>
                            <option <%= +data.imunisasi.umur % 12 == 11 ? 'selected' : null %> value="11">11 Bulan</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <label for="berat_badan" class="form-label">Berat Badan (BB)</label>
                      <input type="number" step="0.1" class="form-control" name="berat_badan" id="berat_badan" value="<%= data.imunisasi.berat_badan %>">
                    </div>
                    <div class="col-4">
                      <label for="tinggi_badan" class="form-label">Tinggi Badan (TB)</label>
                      <input type="number" step="0.1" class="form-control" name="tinggi_badan" id="tinggi_badan" value="<%= data.imunisasi.tinggi_badan %>">
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="modal fade" id="deleteImunisasiModal" tabindex="-1" aria-labelledby="deleteImunisasiModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteImunisasiModalLabel">Konnfirmasi</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                  <div class="modal-body">
                    <b>Peringatan!</b> Proses ini dapat menghapus data <b>Cek Stunting</b> yang terkait dengan <b><%= data.imunisasi.nama_imunisasi %> (<%= data.imunisasi.toddler.nama %>)</b>. Data yang telah dihapus, tidak dapat dikembalikan.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
                    <a href="/dasbor/master/imunisasi/<%= data.imunisasi.uuid %>/delete" class="btn btn-danger">
                      Ya, Hapus
                    </a>
                  </div>
              </div>
            </div>
          </div>
          <!-- modal end -->
          <div class="row mb-3 pb-3 border-bottom border-2">
            <div class="col-4 fw-bold">Nama Balita</div>
            <div class="col-8">
              <a href="/dasbor/master/balita/<%= data.imunisasi.toddler.uuid %>">
                <%= data.imunisasi.toddler.nama %>
              </a>
            </div>
          </div>
          <div class="row mb-3 pb-3 border-bottom border-2">
            <div class="col-4 fw-bold">Nama Imunisasi</div>
            <div class="col-8"><%= data.imunisasi.nama_imunisasi %></div>
          </div>
          <div class="row mb-3 pb-3 border-bottom border-2">
            <div class="col-4 fw-bold">Umur</div>
            <div class="col-8">
              <%= Math.floor(+data.imunisasi.umur / 12) %> tahun <%= +data.imunisasi.umur % 12 %> bulan
            </div>
          </div>
          <div class="row mb-3 pb-3 border-bottom border-2">
            <div class="col-4 fw-bold">Berat Badan</div>
            <div class="col-8"><%= data.imunisasi.berat_badan %> kg</div>
          </div>
          <div class="row mb-3 pb-3 border-bottom border-2">
            <div class="col-4 fw-bold">Tinggi Badan</div>
            <div class="col-8"><%= data.imunisasi.tinggi_badan %> cm</div>
          </div>
          <div class="row mb-3 pb-3">
            <div class="col-4 fw-bold">Status Cek Stunting</div>
            <div class="col-8">
              <span class="badge <%= data.imunisasi.checkup ? 'bg-success' : 'bg-danger' %>">
                <%= data.imunisasi.checkup ? 'Sudah Cek Stunting' : 'Belum Cek Stunting' %>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>