<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body px-4 py-4-5">
          <a href="/dasbor/checkup/print/preview" class="btn btn-success mb-3">
            Print
          </a>
          <table class="table table-striped" id="tabel-balita">
            <thead>
              <tr>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Berat Badan</th>
                <th>Tinggi Badan</th>
                <th>Umur</th>
                <th>Status Checkup</th>
                <th>Status Kesehatan</th>
              </tr>
            </thead>
            <tbody>
              <% data.checkups.forEach(e=> { %>
                <tr>
                  <td>
                    <%= e.name %>
                  </td>
                  <td>
                    <%= e.jk == 1 ? 'Laki-laki' : 'Perempuan' %>
                  </td>
                  <td>
                    <%= e.bb %>
                  </td>
                  <td>
                    <%= e.tb %>
                  </td>
                  <td>
                    <%= e.age %> Bulan
                  </td>
                  <td>
                    <span class="badge bg-success">
                      Sudah Checkup
                    </span>
                  </td>
                  <td>
                    <% if (e.label == 1) { %>
                      <span class="badge bg-danger">
                        Stunting
                      </span>
                    <% } else { %>
                      <span class="badge bg-success">
                        Tidak Stunting
                      </span>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>