<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body px-4 py-4-5">
          <a href="/dasbor/checkup/print/preview" class="btn btn-success mb-3">
            Print
          </a>
          <table class="table table-striped" id="tabel-balita">
            <thead>
              <tr>
                <th>Tanggal</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Berat Badan</th>
                <th>Tinggi Badan</th>
                <th>Umur</th>
                <th>Status Kesehatan</th>
              </tr>
            </thead>
            <tbody>
              <% data.checkups.forEach(e=> { %>
                <tr>
                  <td>
                    <%= e.createdAt.toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit', hour12: false }) %>
                  </td>
                  <td>
                    <%= e.master_balitum.nama %>
                  </td>
                  <td>
                    <%= e.master_balitum.jenis_kelamin %>
                  </td>
                  <td>
                    <%= e.bb %> kg
                  </td>
                  <td>
                    <%= e.tb %> cm
                  </td>
                  <td>
                    <%= e.age %> Bulan
                  </td>
                  <td>
                    <% if (e.label == 1) { %>
                      <span class="badge bg-danger">
                        Stunting
                      </span>
                    <% } else { %>
                      <span class="badge bg-success">
                        Tidak Stunting
                      </span>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>