<div class="page-content">
  <section class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body py-4 px-4">
          <div class="d-flex align-items-center">
            <div class="avatar avatar-xl">
              <img src="/images/default.jpg" alt="Face 1">
            </div>
            <div class="ms-3 name">
              <h5 class="font-bold">
                <%= data.user.name %>
              </h5>
              <h6 class="text-muted mb-0">@<%= data.user.username %>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                  <div class="stats-icon purple mb-2">
                    <i class="iconly-boldShow"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Total User</h6>
                  <h6 class="font-extrabold mb-0">
                    <%= data.totalUserCount %>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                  <div class="stats-icon blue mb-2">
                    <i class="iconly-boldProfile"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Total Balita</h6>
                  <h6 class="font-extrabold mb-0">
                    <%= data.totalBalitaCount %>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="card">
            <div class="card-body px-4 py-4-5">
              <div class="row">
                <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                  <div class="stats-icon green mb-2">
                    <i class="iconly-boldAdd-User"></i>
                  </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                  <h6 class="text-muted font-semibold">Total Imunisasi</h6>
                  <h6 class="font-extrabold mb-0">
                    <%= data.totalImunisasiCount %>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body py-4 px-4">
          <h5 class="mb-3">Data Balita</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nama</th>
                <th>Tanggal Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Aksi</th>
              </tr>
            </thead>
            <tbody>
              <% data.toddlers.forEach(e=> { %>
                <tr>
                  <td>
                    <%= e.nama %>
                  </td>
                  <td>
                    <%= e.tanggal_lahir %>
                  </td>
                  <td>
                    <%= e.jenis_kelamin %>
                  </td>
                  <td>
                    <a href="/dasbor/master/balita/<%= e.uuid %>" class="badge bg-primary">
                      <i class="bi bi-list-ul"></i>
                    </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body py-4 px-4">
          <h5 class="mb-3">Data Puskesmas</h5>
          <div class="row">
            <div class="col-6 fw-bold">Nama</div>
            <div class="col-6"><%= data.user.nama_puskesmas %></div>
          </div>
          <div class="row">
            <div class="col-6 fw-bold">Alamat</div>
            <div class="col-6"><%= data.user.alamat_puskesmas %></div>
          </div>
          <div class="row">
            <div class="col-6 fw-bold">Kecamatan</div>
            <div class="col-6"><%= data.user.kecamatan_puskesmas %></div>
          </div>
          <div class="row">
            <div class="col-6 fw-bold">No. Telp</div>
            <div class="col-6"><%= data.user.telp_puskesmas %></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>