<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/auth.css">
  </head>

  <body>
    <script src="/js/initTheme.js"></script>
    <div id="auth">
      <div class="row h-100">
        <div class="col-lg-5 col-12">
          <div id="auth-left">
            <%- include('../partials/alert') %>
            <%- body %>
          </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
          <div id="auth-right"></div>
        </div>
      </div>
    </div>
    <%- include('../partials/scripts') %>

  </body>

</html>