<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= title %>
    </title>
    <%- include('../partials/head') %>
  </head>

  <body>
    <script src="/js/initTheme.js"></script>
    <div id="app">
      <%- include('../partials/sidebar') %>
        <div id="main">
          <header class="mb-3">
            <a href="#" class="burger-btn d-block d-xl-none">
              <i class="bi bi-justify fs-3"></i>
            </a>
            <div class="page-heading">
              <h3>
                <%= title %>
              </h3>
            </div>
          </header>
          <%- include('../partials/alert') %>
          <%- body %>
        </div>
    </div>
    <%- include('../partials/scripts') %>
  </body>

</html>